@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Scamdom';
    src: url('/fonts/Scamdom.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Scamdom', sans-serif;
}

.roulette-green{
    background-color: rgb(48, 193, 73);
}

.roulette-red{
    background-color: rgb(236, 75, 63);
}

.roulette-black{
    background-color: rgb(53, 57, 66);
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mask-gradient {
mask-image: linear-gradient(to right, black, black 90%, transparent 100%);
-webkit-mask-image: linear-gradient(to right, black, black 90%, transparent 100%);
}

.mask-gradient-spinner {
mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
-webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

