@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Scamdom';
    src: url('/fonts/Scamdom.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Scamdom', sans-serif;
}

